<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petty</title>
    <link rel="stylesheet" href="style/style.css" >
</head>
<body>

    <div class="container">
       
        <%- include('include/nav'); %>

        <section>
   
     
            <div class="col-1">
                <h1 class="">Let's restore your pet</h1>

                <div>
                <h3>Help others restore their pet</h3>  <a class="report-btn" href="/report"><strong>Report</strong> </a>
                </div>

    
                    <form  class="search-form">

                        <div class="search-input">
                            <input type="text" id="search-name" placeholder="Search by pet name">
                            <div class="error"></div>
                        </div>
                        <button type="submit" id="search-btn" class> <img src="/images/search_icon.png"  alt="Search"></button>
                        
                    </form>
                
                
               
            </div>
            <div class="col-2">
                    <img src="images/petHome.png" alt="pet">
            </div>
        
           
        </section>

        <div class="search">

            <div class="reports">
                
    
            </div>
        </div>
      
        
       <%- include('include/footer'); %>
       
    </div>

    <script   src="scripts/validation.js"></script>
    <script   src="scripts/search.js"></script>
</body>
</html>