<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petty</title>
    <link rel="stylesheet" href="style/style.css" >
</head>
<body>

    <div class="container">
       
        <%- include('include/nav'); %>

        <section>
   
     
            <div class="col-1">
                <h1 class="">We are here to restore your pet</h1>

                <div>

                <h3>Help others restore their pet</h3>  <a class="report-btn" href="/report"><strong>Report</strong> </a>
                </div>
                <div class="phone">
                <img style="vertical-align:middle; width: 35px; height: 35px;" src="images/phone-icon2.png"  class="img-fluid" alt="working girl">
                <span><strong > +99 999 999 9999</strong></span>
                </div>
               
            </div>
            <div class="col-2">
                    <img src="images/petHome.png" alt="pet">
            </div>
        
           
        </section>
        
      


       <%- include('include/footer'); %>
       
    </div>
</body>
</html>