<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petty</title>
    <link rel="stylesheet" href="style/style.css" >
    <link rel="stylesheet" href="style/quiz-style.css"></link>

</head>

<body>

    <div class="container">
       
        <%- include('include/nav' ); %>
        
        <section >
            
            <div class="quiz">
                <h3>Welcome to the Memory Game  </h3><h4>How to behave towards dogs</h4>
                
          <div class="grid">
          </div>
          <div class="msg"></div>

        </div>
            
            
            
        </section>

  
       <%- include('include/footer'); %>
       
    </div>


    <script src="scripts/quiz.js"></script>


</body>
</html>