<footer >

    <div id="contact">
        <div class="phone">
            <img  src="images/phone-46-32.png"   alt="phone">
            <span><strong > +99 999 999 9999</strong></span>
        </div>
        <div>
            <img  src="images/email-64.png " alt="mail"> <span> <strong>Petty@findmypetty.com</strong></span>
        </div>
        <div>
            <img src="images/home-7-32.png" alt="Address"> <span> <strong>UK, Southmapton, SO991ZX</strong></span>
        </div>
    </div>
    <div>
        <p class="right">All rights reserved 2022</p>
    </div>
</footer>