<div class="nav">
    <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
               <a href="/"><h3>Petty</h3></a> 
            </div>
        </div>
        <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>

        </label>
    </div>


    <div class="nav-links">
        <a target="_self" href="/"  target="_blank">Home</a>
        <a target="_self" href="/report" class="nav-report" target="_blank">Report</a>
        <a target="_self" href="/reports" target="_blank">Missing Pets</a>
        <a  target="_self" href="/quiz" target="_blank">Quiz</a>
     
    </div>
</div>